<div class="page-container">        
        <!-- sidebar -->
        <div class="col-md-2" id="sidebar" role="navigation">
        	<%= render "share/index" %> 
        </div>
        <!-- main area -->
        <div class="col-md-8 col-md-offset-2 wrapper testo">
				<h1 class="title"><%= @title %></h1>
				 <span class="label label-danger" id="choose-it" value="click" data-toggle="tooltip" data-placement="bottom" title="Click on a report to save your article">Save</span> &nbsp; 
				 
				 <span class="label label-warning" id="create-it" value="click" data-toggle="tooltip" data-placement="bottom" title="Create a bright new report">Create Report</span> &nbsp; 

		 		 <span class="label label-primary" id="print-it" data-toggle="tooltip" data-placement="bottom" title="Tired of the screen? Print it!">Print</span> &nbsp; 
								 	
			 	 <br />
			 	 <br />	

			 		<div id="choose-report", style="display: none" value="click">
			 		  	<% @reports.each do |report| %>
					 		<span class="label label-default save-it" data-id=<%=report.id%> value="click"><%= report.title %></span>
					    <% end %>
					</div>


					<div id="create-input" style="display: none" value="click">
					    <div id="choose-report " class="input-group input-group-sm">
						  <span class="input-group-addon">Report</span>
						  <%= form_for @report, html: { id: "create-report-form" } do |form| %>
						   <%= form.text_field :title, class: "form-control", placeholder: "Type here the name of your new report..." %>
						  <% end %>

						</div>						
					 </div>

		<!--  		 in javascript we want to add event listeners on click to the spans
		 		 input text for the name of the report and a save button
		 		  -->

				<hr>
				<p class="author">by <%= @author %><p>
				<br/>

				<div class="content">
					<%= @content %></div>
				<br />	
				<br />
				<br />

			</div>
       </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.page-container-->

