<div class="wrap-log">

  <h2>Log in</h2>
  <br />
  <%= form_for(:user, :url => session_path(:user)) do |f| %>

    <div class="input-group input-group-sm col-md-3">
      <span class="input-group-addon">Email</span>
      <%= f.text_field :email, class: "form-control", id: "email" %>
    </div>

    <br />
    
    <div class="input-group input-group-sm col-md-3">
      <span class="input-group-addon">Password</span>
      <%= f.password_field :password, class: "form-control", id: "password" %>
    </div>
     
     <br />
     <br />

    <%= f.submit "Log in", class: "btn btn-default btn-sm" %> 

    <br />
    <br />
  <%= link_to "Forgot your password?", new_password_path(:user) %>
  <% end %>
     <br />


</div>


