<!DOCTYPE html>
<html>
<head>
  <title>The New Work Times</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">


</head>
<body>

	<nav class="navbar navbar-custom">
		<ul class="nav navbar-nav logo">
	 		<li><%= link_to 'The New Work Times', "/" %></li>
		</ul>
		

		<ul class="nav navbar-nav navbar-right">
			
			<% if user_signed_in? %>
				<p class="navbar-text">Welcome, <strong><%= current_user.name %></strong></p>
				<form class="navbar-form navbar-left" role="search">
				  <div class="form-group">
				    <input type="text" class="form-control" placeholder="Type your URL here">
				  </div>
				  <button type="submit" class="btn btn-default">GO!</button>
				</form>
				<li><p class="navbar-text"><%= link_to "Logout", destroy_user_session_path, method: :delete %></p></li>
			<% else %>	
				  <p class="navbar-text"><%= link_to "Sign up", "/signup" %></li></p>
	  				<p class="navbar-text"><%= link_to "Login", "/login" %></li></p>
			<% end %>

		</ul>
	</nav>	


<strong><div class="alert-success"></strong>
<strong><p class="notice"><%= notice %></p></strong>
</div>
<!--  <p class="alert alert-success"><%= alert %></p>
 -->

	<%= yield %>


<div id="footer">
  <div class="container">
     <div class="signature">
 		<%= link_to 'The New Work Times', "/about" %>
  </div>
</div>

</body>
</html>