<!DOCTYPE html>
<html>
<head>
  <title>The New Work Times</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />	

</head>
<body>

	<nav class="navbar navbar-custom">
		<ul class="nav navbar-nav logo">
	 		<li><%= link_to 'The New Work Times', "/" %></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<p class="navbar-text">Welcome, <strong><%= current_user.name %></strong></p>
				<form class="navbar-form navbar-left" role="search" method="get" action="/results">
				  <div class="form-group">
				    <input type="text" name="query" class="form-control" placeholder="Type your URL here">
				  </div>
                   <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Copy paste the URL of an article">GO</button> 
				</form>
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Reports <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#"><%= link_to "Create", "/create" %></a></li>
		            <li><a href="#"><%= link_to "Your reports", "/all" %></a></li>
		          </ul>
		        </li>
				<li><p class="navbar-text"><%= link_to "Logout", destroy_user_session_path, method: :delete %></p></li>
			<% else %>	
				  <p class="navbar-text"><%= link_to "Sign up", "/signup" %></li></p>
	  				<p class="navbar-text"><%= link_to "Login", "/login" %></li></p>
			<% end %>

		</ul>
	</nav>	


<!-- <strong><div class="alert-success"></strong>
<strong><p class="notice"><%= notice %></p></strong> -->
</div>
<!--  <p class="alert alert-success"><%= alert %></p>
 -->

	<%= yield %>


<div id="footer">
  <div class="container">
     <div class="signature">
 		<%= link_to 'The New Work Times', "/about" %>
  </div>
</div>

</body>
</html>